<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{ account.name }}</h5>
    <p class="card-text">This account is {{ account.status }}</p>
    <button type="button" class="me-1 btn btn-outline-success" (click)="onSetTo('active')">Set to 'active'</button>
    <button type="button" class="me-1 btn btn-outline-danger" (click)="onSetTo('inactive')">Set to 'inactive'</button>
    <button type="button" class="btn btn-outline-warning" (click)="onSetTo('unknown')">Set to 'unknown'</button>
  </div>
</div>
